<div class="page-header">
  <h3>Maintenance #<%= @maintenance.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Property</dt>
      <dd><%= @maintenance.property_id %></dd>

      <dt>User</dt>
      <dd><%= @maintenance.user.username %></dd>

      <dt>Body</dt>
      <dd><%= @maintenance.body %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/maintenances" class="btn btn-primary">
        Back
      </a>
      <% if current_user.id == @maintenance.user_id  %>
              <a href="/maintenances/<%= @maintenance.id %>/edit" class="btn btn-warning">Edit</a>
              <a href="/delete_maintenance/<%= @maintenance.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
              <% end %>
      </a>
    </div>
  </div>
</div>
